/**----FONTS----*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/**----RESET----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

main {
  background-color: #607D8B; }

header {
  background-color: #2A3E48; }

header nav div div ul li a {
  margin: 0px 8px 0px 8px;
  color: black !important; }

.navbar-brand img {
  width: 100px;
  height: 100px; }

.d-flex {
  width: 300px;
  height: 50px;
  background-color: #607D8B;
  border-radius: 5px;
  position: relative; }

.form-control {
  counter-reset: none;
  background-color: #607D8B;
  border: none; }

.btn {
  position: absolute;
  right: 0;
  height: 50px; }

.hero {
  width: 100%;
  height: calc(100vh - 56px);
  color: white;
  text-align: center;
  background-image: url(../img/griferia-artesanal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 40px; }
  .hero div h1 {
    border: 2px solid #2A3E48;
    background-color: #607D8B;
    padding: 27px;
    font-size: 55px; }
  .hero div p {
    border: 1px solid #2A3E48;
    background-color: #607D8B;
    margin: 10px 0 20px 0px;
    font-size: 19px;
    font-weight: 500; }

.destacados {
  text-align: center; }
  .destacados h2 {
    background-color: #2A3E48;
    color: black;
    font-size: 40px;
    margin: 0 0 50px 0;
    padding: 10px; }
  .destacados article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .destacados article div {
      border: 1px solid black;
      width: 250px;
      height: 340px;
      background-color: black;
      border-radius: 15px;
      margin: 10px 5px 10px 5px; }
      .destacados article div img {
        width: 93%;
        height: 250px; }
      .destacados article div h3 {
        color: #607D8B;
        font-size: 20px;
        margin-bottom: 18px; }
      .destacados article div a {
        text-decoration: none;
        background-color: #2A3E48;
        color: #607D8B;
        border-radius: 10px;
        padding: 10px; }

.galeria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 430px;
  gap: 5px;
  margin-top: 50px;
  padding-bottom: 10px; }
  .galeria .galeria-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .galeria .img-2 {
    grid-row: span 2; }
  .galeria .img-6 {
    grid-column: span 2; }

.maison {
  text-align: center;
  padding: 30px;
  height: 45 0px; }
  .maison article {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .maison article img {
      width: 600px;
      height: 380px;
      border-radius: 10px; }
    .maison article div h1 {
      font-size: 45px;
      font-weight: 900;
      color: #607D8B;
      margin: 20px 0 30px 0;
      border: 2px solid black;
      background-color: #2A3E48;
      padding: 10px; }
    .maison article div p {
      width: 600px;
      color: black;
      font-size: 20px;
      padding: 15px;
      margin: 20px 10px 20px 40px;
      background-color: #2a3e4873;
      border-radius: 15px; }

.portafolio h2 {
  background-color: black;
  color: #607D8B;
  font-size: 30px;
  padding: 10px;
  text-align: center; }

.portafolio .grid-portafolio {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 400px;
  gap: 5px;
  padding: 0 5px 30px 5px; }
  .portafolio .grid-portafolio div img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .portafolio .grid-portafolio .port-img1 {
    grid-column: span 2; }
  .portafolio .grid-portafolio .port-img8 {
    grid-column: span 2; }

.contacto-page {
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 290px;
  grid-template-areas: "contacto showroom" "contacto mapa";
  align-items: center;
  text-align: center;
  padding: 30px 30px; }
  .contacto-page .form-contacto {
    width: 600px;
    height: 550px;
    background: #2A3E48;
    padding: 20px;
    margin: 190px 0;
    border-radius: 10px;
    box-shadow: 7px 13px 37px #2A3E48;
    grid-area: contacto; }
    .contacto-page .form-contacto h1 {
      color: #607D8B;
      font-size: 35px;
      margin: 17px 0; }
    .contacto-page .form-contacto .controls {
      width: 100%;
      background: #607D8B;
      border: none;
      padding: 12px;
      margin: 15px 0;
      font-size: 23px; }
      .contacto-page .form-contacto .controls::placeholder {
        color: black; }
    .contacto-page .form-contacto .botons {
      width: 100%;
      background: #607D8B;
      border: none;
      padding: 12px;
      font-size: 23px;
      margin-top: 20px; }

.showroom {
  grid-area: showroom; }
  .showroom h2 {
    font-size: 45px;
    font-weight: 900;
    color: #607D8B;
    margin: 20px 0 30px 0;
    border: 2px solid black;
    background-color: #2A3E48;
    padding: 10px; }
  .showroom p {
    width: 600px;
    color: black;
    font-size: 20px;
    padding: 15px;
    margin: 20px 10px 20px 40px;
    background-color: #2a3e4873;
    border-radius: 15px; }
    .showroom p a {
      text-decoration: none;
      color: black;
      font-weight: 500; }

.map {
  grid-area: mapa; }

footer {
  background-color: #2A3E48;
  padding: 40px 5px;
  text-align: center; }
  footer .contenedor-footer .footer-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    footer .contenedor-footer .footer-row div h4 {
      font-size: 20px;
      color: #607D8B;
      margin-bottom: 25px;
      font-weight: 500;
      border-bottom: 2px solid black;
      padding-bottom: 10px;
      display: inline-block; }
    footer .contenedor-footer .footer-row div ul {
      text-align: start; }
      footer .contenedor-footer .footer-row div ul li a {
        font-size: 18px;
        text-decoration: none;
        color: #607D8B;
        display: block; }
    footer .contenedor-footer .footer-row div .social-link a img {
      width: 30px;
      height: 30px;
      margin: 7px; }

@media screen and (max-width: 1350px) {
  .maison article img {
    width: 500px;
    height: 320px; }
  .maison article div p {
    width: 500px; }
  .contacto-page .form-contacto {
    width: 500px;
    margin-right: 50px; }
  .showroom {
    margin-right: 100px; }
  .showroom h2 {
    font-size: 30px; }
  .map {
    width: 90%; } }

@media screen and (max-width: 1300px) {
  .contenedor-destacados {
    margin: 20px 132px 20px 132px; } }

@media screen and (max-width: 1270px) {
  .hero {
    justify-content: start;
    align-items: start;
    padding: 130px 0px 0px 40px; }
  .hero h1 {
    font-size: 45px; }
  .maison article img {
    width: 450px;
    height: 300px; }
  .maison article div p {
    width: 450px; }
  .maison article div h1 {
    font-size: 40px;
    font-weight: 800;
    margin: 0px 0 20px 0; }
  .contacto-page {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 10px; }
  .contacto-page .form-contacto {
    width: 650px;
    height: 550px;
    margin: 70px 0px; }
  .showroom h2 {
    font-size: 45px;
    width: 100%;
    margin: 0 0 0 50px;
    padding: 0px; }
  .showroom p {
    font-size: 25px;
    margin: 40px 0 0 90px; }
  .map {
    width: 700px;
    height: 300px;
    margin: 60px 0 40px 0; } }

@media screen and (max-width: 1225px) {
  .hero {
    justify-content: start;
    align-items: start;
    padding: 130px 0px 0px 40px; }
  .hero h1 {
    font-size: 45px; }
  .portafolio .grid-portafolio {
    grid-template-columns: repeat(3, 1fr); }
  .grid-portafolio .port-img4 {
    grid-column: span 2; }
  .grid-portafolio .port-img5 {
    grid-row: span 2; } }

@media screen and (max-width: 1075px) {
  .portafolio .grid-portafolio {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px; }
  .grid-portafolio .port-img8 {
    display: none; } }

@media screen and (max-width: 991px) {
  .hero {
    justify-content: start;
    align-items: center;
    padding: 70px 0px 0px 6px;
    background-position: right; }
  .hero h1 {
    font-size: 40px; }
  .hero p {
    font-size: 16px; }
  .maison article {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  .maison article img {
    width: 650px;
    height: 400px;
    margin: 30px 0; }
  .maison article div h1 {
    font-size: 50px;
    font-weight: 800;
    margin: 20px 0 70px 0; }
  .maison article div p {
    width: 650px;
    margin: 30px 0; } }

@media screen and (max-width: 860px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr); }
  .galeria .img-6 {
    grid-column: span 2; }
  .portafolio .grid-portafolio {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
    padding-bottom: 10px; }
  .portafolio .grid-portafolio .port-img1 {
    grid-column: span 1; }
  .grid-portafolio .port-img4 {
    grid-column: span 1; }
  .grid-portafolio .port-img5 {
    grid-row: span 1; }
  .form-register {
    width: 550px;
    height: 650px; }
  .form-register h2 {
    font-size: 30px;
    margin-bottom: 25px; } }

@media screen and (max-width: 730px) {
  .contenedor-destacados {
    margin: 50px 0px 50px 0px; }
  .maison article img {
    width: 550px;
    height: 380px;
    margin: 30px 0; }
  .maison article div h1 {
    font-size: 40px;
    margin: 5px 0 70px 0; }
  .maison article div p {
    width: 550px;
    margin: 0px 0; }
  .contacto-page .form-contacto {
    width: 80%; }
  .showroom h2 {
    width: auto;
    margin-left: 200px;
    margin-right: 100px; }
  .showroom p {
    width: auto; }
  .map {
    width: 80%; } }

@media screen and (max-width: 650px) {
  .form-contacto {
    width: 330px;
    height: 450px; }
  .showroom h2 {
    width: 300px;
    font-size: 35px; }
  .showroom p {
    width: auto;
    margin-left: 150px;
    margin-right: 50px; }
  .form-register {
    width: 480px; }
  .registro-info h1 {
    font-size: 30px; }
  .registro-info p {
    width: 500px; } }

@media screen and (max-width: 600px) {
  .hero div h1 {
    font-size: 30px; }
  .hero div p {
    font-size: 15px; }
  .galeria {
    grid-template-columns: repeat(1, 1fr); }
  .galeria .img-2 {
    grid-row: span 1; }
  .galeria .img-6 {
    grid-column: span 1; }
  .footer-row {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 575px) {
  .maison article img {
    width: 450px;
    height: 300px; }
  .maison article div h1 {
    font-size: 35px;
    margin: 5px 0 70px 0; }
  .maison article div p {
    width: 340px;
    margin: 0px 0; } }

@media screen and (max-width: 515px) {
  .hero {
    background-position-x: 90%; }
  .showroom h2 {
    width: auto;
    margin-left: 100px;
    margin-right: 10px; }
  .showroom p {
    width: 200px; }
  .form-page {
    height: auto; }
  .form-register {
    width: 320px;
    height: 580px;
    padding-bottom: 15px; }
  .registro-info h1 {
    font-size: 25px; }
  .registro-info p {
    width: 330px;
    margin-top: 0px; }
  .controls {
    margin-top: 20px;
    margin-bottom: 0; } }

@media screen and (max-width: 470px) {
  .maison article img {
    width: 330px;
    height: 200px; }
  .maison article div p {
    width: 300px;
    padding: 20px;
    margin-left: auto; } }

@media screen and (max-width: 426px) {
  .hero {
    background-position-x: 85%; }
  .hero div h1 {
    font-size: 27px;
    margin: 15px 15px 15px 15px; }
  .hero div p {
    font-size: 13px;
    font-weight: 600;
    margin: 15px 15px 15px 15px; }
  .destacados h2 {
    font-size: 30px; }
  .maison article div h1 {
    font-size: 28px;
    margin: 5px 0 30px 0; } }
