/**----FONTS----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**----RESET----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/*?---------HEADER---------*/

header {
    background-color: #2A3E48;
}

header nav div div ul li a {
    margin: 0px 8px 0px 8px;
    color: white !important ;
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

.d-flex {
    width: 300px;
    height: 50px;
    background-color: #607D8B;
    border-radius: 5px;
    position: relative;
}

.form-control {
    counter-reset: none;
    background-color: #607D8B;
    border: none;
}

.btn {
    position: absolute;
    right: 0;
    height: 50px;
}


/*?---------MAIN---------*/

/*!----INDEX----*/

main {
    background-color: #607D8B;
}

.hero {
    width: 100%;
    height: calc(100vh - 56px);
    color: white;
    text-align: center;
    background-image: url(../img/griferia-artesanal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
}

.hero h1 {
    border: 2px solid #2A3E48;
    background-color: #607D8B;
    padding: 27px;
    font-size: 55px;
}

.hero p {
    border: 1px solid #2A3E48;
    background-color: #607D8B;
    margin: 10px 0 20px 0px;
    font-size: 19px;
    font-weight: 500;
}

.destacados {
    text-align: center;
}

.destacados h2 {
    background-color: #2A3E48;
    color: black;
    font-size: 40px;
    margin: 0 0 50px 0;
    padding: 10px;
}

.contenedor-destacados {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-destacados div {
    border: 1px solid black;
    width: 250px;
    height: 340px;
    background-color: black;
    border-radius: 15px;
    margin: 10px 5px 10px 5px;
}

.contenedor-destacados div img {
    width: 93%;
    height: 250px;
}

.contenedor-destacados div h3 {
    color: #607D8B;
    font-size: 20px;
    margin-bottom: 18px;
}

.contenedor-destacados div a {
    text-decoration: none;
    background-color: #2A3E48;
    color: #607D8B;
    border-radius: 10px;
    padding: 10px;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 430px;
    gap: 5px;
    margin-top: 50px;
    padding-bottom: 10px;
}

.galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-2 {
    grid-row: span 2;
}

.img-6 {
    grid-column: span 2;
}

/*!----NOSOTROS----*/

.maison {
    text-align: center;
    padding: 30px;
    height: 45 0px;
}

.maison article {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.maison article img {
    width: 600px;
    height: 380px;
    border-radius: 10px;
}

.maison article div h1 {
    font-size: 45px;
    font-weight: 900;
    color: #607D8B;
    margin: 20px 0 30px 0;
    border: 2px solid black;
    background-color: #2A3E48;
    padding: 10px;
}

.maison article div p {
    width: 600px;
    color: black;
    font-size: 20px;
    padding: 15px;
    margin: 20px 10px 20px 40px;
    background-color: #2a3e4873;
    border-radius: 15px;
}

/**----CAMBIO DE SECCION----*/


.portafolio h2 {
    background-color: black;
    color: #607D8B;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}

.grid-portafolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 400px;
    gap: 5px;
    padding: 0 5px 30px 5px;
}

.portafolio div div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.port-img1 {
    grid-column: span 2;
}

.port-img8 {
    grid-column: span 2;
}

/*!----PRODUCTOS----*/

.productos-mesadas {
    text-align: center;
}

.productos-mesadas article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.productos-mesadas h1 {
    border: 1px solid #607D8B;
    background-color: #2A3E48;
    color: black;
    font-size: 35px;
    margin: 0 0 30px 0;
    padding: 30px;
}

.productos-mesadas article div {
    border: 1px solid black;
    width: 250px;
    height: 340px;
    background-color: black;
    border-radius: 15px;
    margin: 10px 5px 10px 5px;
}

.productos-mesadas article div img {
    width: 93%;
    height: 250px;
}

.productos-mesadas article div h3 {
    color: #607D8B;
    font-size: 20px;
    margin-bottom: 18px;
}

.productos-mesadas article div a {
    text-decoration: none;
    background-color: #2A3E48;
    color: #607D8B;
    border-radius: 10px;
    padding: 10px;
}

/**-----CAMBIO DE SECCION------*/

.productos-pared {
    text-align: center;
}

.productos-pared h2 {
    border: 1px solid #607D8B;
    background-color: #2A3E48;
    color: black;
    font-size: 35px;
    margin: 0 0 30px 0;
    padding: 30px;
}

.productos-pared article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.productos-pared article div {
    border: 1px solid black;
    width: 250px;
    height: 340px;
    background-color: black;
    border-radius: 15px;
    margin: 10px 5px 10px 5px;
}

.productos-pared article div img {
    width: 93%;
    height: 250px;
}

.productos-pared article div h3 {
    color: #607D8B;
    font-size: 20px;
    margin-bottom: 18px;
}

.productos-pared article div a {
    text-decoration: none;
    background-color: #2A3E48;
    color: #607D8B;
    border-radius: 10px;
    padding: 10px;
}

/*!----LOGIN----*/

.form-page {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.registro-info h1 {
    font-size: 45px;
    font-weight: 900;
    color: #607D8B;
    margin: 70px 0 30px 0;
    border: 2px solid black;
    background-color: #2A3E48;
    padding: 10px;
}

.registro-info p {
    width: 600px;
    color: black;
    font-size: 20px;
    padding: 15px;
    margin: 40px 0 20px 0;
    background-color: #2a3e4873;
    border-radius: 15px;
}

.form-register {
    width: 750px;
    height: 650px;
    background: #2A3E48;
    padding: 30px;
    margin: 50px 0 45px 0;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #222222;
}

.form-register h2 {
    text-align: center;
    color: #607D8B;
    font-size: 40px;
    margin-bottom: 35px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 40px;
    border: 1px solid #607D8B;
    font-size: 18px;
    color: white;
}

.form-register p {
    color: #607D8B;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register,
a {
    color: #607D8B;
}

.form-register .botons {
    width: 100%;
    background: #607D8B;
    border: none;
    padding: 12px;
    color: #2A3E48;
    margin: 16px 0;
    font-size: 16px;
}

/*!----CONTACTO----*/

.contacto-page {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 290px;
    grid-template-areas:
        "contacto showroom"
        "contacto mapa";
    align-items: center;
    text-align: center;
    padding: 30px 30px;
}

.form-contacto {
    width: 600px;
    height: 550px;
    background: #2A3E48;
    padding: 20px;
    margin: 190px 0;
    border-radius: 10px;
    color: white;
    box-shadow: 7px 13px 37px #2A3E48;
    grid-area: contacto;
}

.form-contacto h1 {
    color: #607D8B;
    font-size: 35px;
    margin: 17px 0;
}

.form-contacto .botons {
    width: 100%;
    background: #607D8B;
    border: none;
    padding: 12px;
    color: black;
    margin: 20px 0;
    font-size: 23px;
}

.form-contacto input {
    margin: 15px 0;
}

.showroom {
    grid-area: showroom;
}

.showroom h2 {
    font-size: 45px;
    font-weight: 900;
    color: #607D8B;
    margin: 20px 0 30px 0;
    border: 2px solid black;
    background-color: #2A3E48;
    padding: 10px;
}

.showroom p {
    width: 600px;
    color: black;
    font-size: 20px;
    padding: 15px;
    margin: 20px 10px 20px 40px;
    background-color: #2a3e4873;
    border-radius: 15px;
}

.showroom p a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.map {
    grid-area: mapa;
}

/*?----FOOTER----*/

footer {
    background-color: #2A3E48;
    padding: 40px 5px;
    text-align: center;
}

.footer-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-links h4 {
    font-size: 20px;
    color: #607D8B;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul {
    text-align: start;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #607D8B;
    display: block;
}

.social-link a img {
    width: 30px;
    height: 30px;
    margin: 7px;
}

/*!-----MEDIA QUERY-----*/

@media screen and (max-width: 1350px) {
    .hero {
        padding-left: 10px;
    }

    .maison article img {
        width: 500px;
        height: 320px;
    }

    .maison article div p {
        width: 500px
    }

    .form-contacto {
        width: 400px;
        height: 550px;
        margin-right: 50px;
    }

    .showroom {
        margin-right: 100px;
    }

    .map {
        width: 90%;
    }
}

@media screen and (max-width: 1300px) {
    .contenedor-destacados {
        margin: 20px 132px 20px 132px;
    }
}

@media screen and (max-width: 1270px) {
    .maison article img {
        width: 450px;
        height: 300px;
    }

    .maison article div p {
        width: 450px
    }

    .maison article div h1 {
        font-size: 40px;
        font-weight: 800;
        margin: 0px 0 20px 0;
    }

}

@media screen and (max-width: 1225px) {
    .hero {
        justify-content: start;
        align-items: start;
        padding: 130px 0px 0px 40px;
    }

    .hero h1 {
        font-size: 45px;
    }

    .grid-portafolio {
        grid-template-columns: repeat(3, 1fr);
    }

    .port-img1 {
        grid-column: span 1;
    }

    .port-img8 {
        display: none;
    }
}

@media screen and (max-width: 1185px) {
    .contacto-page {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 10px;
    }

    .form-contacto {
        width: 700px;
        height: 550px;
        margin: 70px 0px;
    }

    .showroom h2 {
        width: 100%;
        margin: 0 0 0 50px;
        padding: 0px;
    }

    .showroom p {
        font-size: 25px;
        margin: 40px 0 0 90px;
    }

    .map {
        width: 700px;
        height: 300px;
        margin: 60px 0 40px 0;
    }

}

@media screen and (max-width: 1125px) {
    .contenedor-destacados {
        margin: 20px 80px 20px 80px;
    }

    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }

    .img-6 {
        grid-column: span 3;
    }
}

@media screen and (max-width: 1075px) {
    .grid-portafolio {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 500px;
    }

    .port-img8 {
        display: grid;
        grid-column: span 1;
    }

}

@media screen and (max-width: 991px) {
    .hero {
        justify-content: start;
        align-items: center;
        padding: 70px 0px 0px 6px;
        background-position: right;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 16px;
    }

    .maison article {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .maison article img {
        width: 650px;
        height: 400px;
        margin: 30px 0;
    }

    .maison article div h1 {
        font-size: 50px;
        font-weight: 800;
        margin: 20px 0 70px 0;
    }

    .maison article div p {
        width: 650px;
        margin: 30px 0;
    }
}

@media screen and (max-width: 900px) {
    .grid-portafolio {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 860px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-6 {
        grid-column: span 2;
    }

    .form-register {
        width: 550px;
        height: 650px;
    }

    .form-register h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 730px) {
    .contenedor-destacados {
        margin: 50px 0px 50px 0px;
    }

    .maison article img {
        width: 550px;
        height: 380px;
        margin: 30px 0;
    }

    .maison article div h1 {
        font-size: 40px;
        margin: 5px 0 70px 0;
    }

    .maison article div p {
        width: 550px;
        margin: 0px 0;
    }

    .form-contacto {
        width: 575px;
        height: 450px;
    }

    .form-contacto input {
        margin: 5px;
    }

    .showroom h2 {
        width: auto;
        margin-left: 200px;
        margin-right: 100px;
    }

    .showroom p {
        width: auto;
    }

    .map {
        width: 80%;
    }
}

@media screen and (max-width: 650px) {
    .form-contacto {
        width: 330px;
        height: 450px;
    }

    .showroom h2 {
        width: 300px;
        font-size: 35px;
    }

    .showroom p {
        width: auto;
        margin-left: 150px;
        margin-right: 50px;
    }

    .form-register {
        width: 480px;
    }

    .registro-info h1 {
        font-size: 30px;
    }

    .registro-info p {
        width: 500px;
    }
}

@media screen and (max-width: 600px) {
    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 15px;
    }

    .galeria {
        grid-template-columns: repeat(1, 1fr);
    }

    .img-2 {
        grid-row: span 1;
    }

    .img-6 {
        grid-column: span 1;
    }

    .footer-row {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 575px) {
    .maison article img {
        width: 450px;
        height: 300px;
    }

    .maison article div h1 {
        font-size: 35px;
        margin: 5px 0 70px 0;
    }

    .maison article div p {
        width: 340px;
        margin: 0px 0;
    }
}

@media screen and (max-width: 515px) {
    .hero {
        background-position-x: 90%;
    }

    .showroom h2 {
        width: auto;
        margin-left: 100px;
        margin-right: 10px;
    }

    .showroom p {
        width: 200px;
    }

    .form-page {
        height: auto;
    }

    .form-register {
        width: 320px;
        height: 580px;
        padding-bottom: 15px;
    }

    .registro-info h1 {
        font-size: 25px;
    }

    .registro-info p {
        width: 330px;
        margin-top: 0px;
    }


    .controls {
        margin-top: 20px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 470px) {
    .maison article img {
        width: 330px;
        height: 200px;
    }

    .maison article div p {
        width: 300px;
        padding: 20px;
        margin-left: auto;
    }
}

@media screen and (max-width: 426px) {
    .destacados h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .hero {
        background-position-x: 85%;
    }

    .hero h1 {
        font-size: 27px;
        margin: 15px 15px 15px 15px
    }

    .hero p {
        font-size: 13px;
        font-weight: 600;
        margin: 15px 15px 15px 15px
    }

    .maison article div h1 {
        font-size: 28px;
        margin: 5px 0 30px 0;
    }
}