.hero{
    width: 100%;
    height: calc(100vh - 56px);
    color: $color-secundario;
    text-align: center;
    background-image: url(../img/griferia-artesanal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 40px;
    div{
        h1{
            border: 2px solid $color-secundario;
            background-color: $color-principal;
            color: $color-secundario;
            padding: 27px;
            font-size: 60px;
            transition: 0.3s;
            &:hover{
                background-color: $color-secundario;
                color: $color-principal;
            }
        }
        p{
            border: 2px solid $color-principal;
            background-color: $color-secundario;
            color: $color-principal;
            margin: 10px 0 20px 0px;
            font-size: 23px;
            font-weight: 600;
            padding: 7px;
            transition: 0.3s;
            &:hover{
                background-color: $color-principal;
                color: $color-secundario;
            }
        }
    }
}

.destacados{
    text-align: center;
    h2{
        color: $color-principal;
        background-color: $color-secundario;
        font-size: 40px;
        margin: 0 0 50px 0;
        padding: 10px;
        transition: 1s;
        &:hover{
            background-color: $color-principal;
            color: $color-secundario;
        }
    }
    article{
        @extend %productos;
        div{
            @extend %productos-contenedor;
                &:hover{
                transform: scale(1.03);
            }
            img{
                width: 93%;
                height: 250px;
            }
            h3{
                color: $color-secundario;
                font-size: 20px;
                margin-bottom: 18px;
            }
            a{
                @extend %productos-boton;
                    &:hover{
                    background-color: $color-secundario;
                    color: $color-principal;
                }
            }
        }
    }
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 430px;
    gap: 5px;
    margin-top: 50px;
    padding-bottom: 10px;
    .galeria-item{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .img-2{
        grid-row: span 2;
    }
    .img-6{
        grid-column: span 2;
    }
}