.productos-mesadas{
    text-align: center;
    h1{
        border: 1px solid $color-secundario;
        background-color: $color-terciario;
        color: $color-secundario;
        font-size: 35px;
        margin: 0 0 30px 0;
        padding: 30px;
    }
}

.productos-mesadas , .productos-pared{
    article{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
        div{
            border: 1px solid black;
            width: 250px;
            height: 340px;
            background-color: black;
            border-radius: 15px;
            margin: 10px 5px 10px 5px;
            img{
                width: 93%;
                height: 250px;
            }
            h3{
                color: $color-terciario;
                font-size: 20px;
                margin-bottom: 18px;
            }
            a{
                text-decoration: none;
                background-color: $color-principal;
                color: $color-secundario;
                border-radius: 10px;
                font-weight: 700;
                padding: 10px;
            }

        }
    }
}

.productos-pared{
    text-align: center;
    h2{
        border: 1px solid $color-secundario;
        background-color: $color-terciario;
        color: $color-secundario;
        font-size: 35px;
        margin: 0 0 30px 0;
        padding: 30px;
    }
}