.productos-mesadas{
    text-align: center;
    h1{
        border: 1px solid $color-secundario;
        background-color: $color-terciario;
        color: $color-secundario;
        font-size: 35px;
        margin: 0 0 30px 0;
        padding: 30px;
    }
}

.productos-mesadas , .productos-pared{
    article{
        @extend %productos;
        div{
            @extend %productos-contenedor;
            img{
                width: 93%;
                height: 250px;
            }
            h3{
                color: $color-terciario;
                font-size: 20px;
                margin-bottom: 18px;
            }
            a{
                @extend %productos-boton;
            }
        }
    }
}

.productos-pared{
    text-align: center;
    h2{
        border: 1px solid $color-secundario;
        background-color: $color-terciario;
        color: $color-secundario;
        font-size: 35px;
        margin: 0 0 30px 0;
        padding: 30px;
    }
}