//*----FONTS----


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


//*----RESET----

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//?----VARIABLES----

$color-principal: #302424;
$color-terciario: #ccc7bf;
$color-secundario: #ffffff;


//!----EXTENDS----

%productos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

%productos-contenedor{
    border: 1px solid black;
    width: 250px;
    height: 340px;
    background-color: black;
    border-radius: 15px;
    margin: 10px 5px 20px 5px;
    transition: 0.3s;
}

%productos-boton{
    text-decoration: none;
    background-color: $color-principal;
    color: $color-secundario;
    font-weight: 700;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s

}




//?----GENERALES----

body {
    font-family: "Source Sans 3", sans-serif;
}

main {
    background-color:  $color-secundario;
}


//! NAV BOOSTRAP

header {
    background-color: $color-secundario;
}

header nav div div ul li a {
    margin: 0px 5px 0px 5px;
    color: $color-principal !important;
    transition: 0.5s !important;
    &:hover{
        color: rgb(105, 123, 230) !important;
        transform: scale(1.1);
    }
}

.navbar-brand img {
    width: 100px;
    height: 100px;
}

.d-flex {
    width: 300px;
    height: 50px;
    background-color: $color-terciario;
    border-radius: 5px;
    position: relative;
}

.form-control {
    counter-reset: none;
    background-color: $color-terciario;
    border: none;
}

.btn {
    position: absolute;
    right: 0;
    height: 50px;
}